{% extends "site_base.html" %}

{% load i18n %}
{% load proposal_tags %}
{% load review_tags %}
{% load teams_tags %}

{% block head_title %}Registration count{% endblock %}

{% block body_class %}auth{% endblock %}

{% block body %}
    <div class="dashboard-panel">
        <div class="dashboard-panel-header">
            <i class="fa fa-briefcase"></i>
            <h3>{% trans "Registration count" %}</h3>
        </div>
        <div class="dashboard-panel-content">

        <pre>
{{ msg }}
        </pre>
        </div>
    </div>
{% endblock %}
